<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shoe Login Page</title>
</head>
<body>
    <center>
        <h1>Login Page</h1>
        <div style="border:2px solid black;width:25%;border-radius:20px;padding:20px">
            <font color="red"><span th:text="${errorMessage}"></span></font>
            <form  method="post">
            Name: <input type="text" name="name"/><br><br>
            Password: <input type="password" name="password"/><br><br>
            <input type="submit">
        </form>
    </center>
</body>
</html>